{% extends "base.htm" %}
{% load static %}

{% block title %}
Demo | TECKO
{% endblock title %}
{% block content %}
{% include 'navbar/navbar.htm' %}


<section class="container">
  <h1 class="display-4 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;"> DEMO</h1>
  <h1 class="display-8 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;"> Mess Management System Dashboard</h1>

  <div class="row justify-content-center align-items-center">
    <div class="col-md-8 text-center"> <!-- Center the column content -->
      <!-- Copy and paste the embed code provided by YouTube here -->
      <iframe class="w-100" style="max-width: 800px; height: 500px;" src="https://www.youtube.com/embed/XtCUZYxbLOk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="container">
    <p class="text-center text-white">Here We gave a Detail Demo about Pyduino For more knowledge Visit <a href="{% url 'contact' %}" class="ps-2"> Contact Us</a></p>
  </div>
</section>
<section class="container">
  <h1 class="display-8 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;"> Mess Management System</h1>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8 text-center"> <!-- Center the column content -->
      <!-- Copy and paste the correct embed code provided by YouTube here -->
      <iframe class="w-100" style="max-width: 800px; height: 500px;" src="https://www.youtube.com/embed/c-vtoHeycsU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="container">
    <p class="text-center text-white">Here We gave a Detail Demo about Mess Management System. For more information, please <a href="{% url 'contact' %}" class="ps-2"> Contact Us</a></p>
  </div>
</section>
<section class="container">
  <h1 class="display-8 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;">Chat bot</h1>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8 text-center"> <!-- Center the column content -->
      <!-- Copy and paste the correct embed code provided by YouTube here -->
      <iframe class="w-100" style="max-width: 800px; height: 500px;" src="https://www.youtube.com/embed/_XDdFfMtk-Y" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="container">
    <p class="text-center text-white">Here We gave a Detail Demo about Chat bot. For more information, please <a href="{% url 'contact' %}" class="ps-2"> Contact Us</a></p>
  </div>
</section>
<section class="container">
  <section class="container">
    <h1 class="display-8 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;">Object Detection</h1>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center"> <!-- Center the column content -->
        <!-- Copy and paste the correct embed code provided by YouTube here -->
        <iframe class="w-100" style="max-width: 800px; height: 500px;" src="https://www.youtube.com/embed/gl_3E_WpEsk" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <p class="text-center text-white">Here We gave a Detail Demo about Object Detection. For more information, please <a href="{% url 'contact' %}" class="ps-2"> Contact Us</a></p>
    </div>
  </section>
</section>
<section class="container">
  <section class="container">
    <h1 class="display-8 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;">Autonated Pentesting</h1>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center"> <!-- Center the column content -->
        <!-- Updated embed code with the correct YouTube video URL -->
        <iframe class="w-100" style="max-width: 800px; height: 500px;" src="https://www.youtube.com/embed/XQTFPmT41fw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <p class="text-center text-white">Here We gave a Detail Demo about Autonated Pentesting. For more information, please <a href="{% url 'contact' %}" class="ps-2"> Contact Us</a></p>
    </div>
  </section>
</section>
<section class="container">
  <section class="container">
    <h1 class="display-8 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;">Vehical Black Box</h1>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center"> <!-- Center the column content -->
        <!-- Embed code for YouTube Shorts video -->
        <iframe class="w-100" style="max-width: 800px; height: 500px;" src="https://www.youtube.com/embed/gely6Ixt_ao" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <p class="text-center text-white">Here We gave a Detail Demo about Vehical Black Box. For more information, please <a href="{% url 'contact' %}" class="ps-2"> Contact Us</a></p>
    </div>
  </section>
</section>
<section class="container">
  <section class="container">
    <h1 class="display-8 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;">Drowziness Detection</h1>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center"> <!-- Center the column content -->
        <!-- Embed code for YouTube Shorts video -->
        <iframe class="w-100" style="max-width: 1000px; height: 500px;" src="{% static 'images/opencv.png' %}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <p class="text-center text-white">Here We gave a Detail Demo about Drowziness Detection. For more information, please <a href="{% url 'contact' %}" class="ps-2"> Contact Us</a></p>
    </div>
  </section>
</section>
<section class="container">
  <section class="container">
    <h1 class="display-8 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;">Product Selling Website</h1>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center"> <!-- Center the column content -->
        <!-- Embed code for YouTube Shorts video -->
        <iframe class="w-100" style="max-width: 1000px; height: 500px;" src="https://www.youtube.com/embed/U-xB8URd7uA" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <p class="text-center text-white">Here We gave a Detail Demo about Product Selling Website. For more information, please <a href="{% url 'contact' %}" class="ps-2"> Contact Us</a></p>
    </div>
  </section>
  
</section>
{% endblock content %}
