
{% extends "base.htm" %}
{% load static %}

{% block title %}
Home | TECKO
{% endblock title %}
{% block content %}
{% include 'navbar/navbar.htm' %}

<section class="container " style="margin-top: 100px;">
    <center><img src="{% static 'images/logo.png' %}" class="img-fluid mx-auto" style="filter: drop-shadow(0px 0px 4px rgba(158, 234, 248, 0.8));" width="300" height="300" alt=""></center>
    <h1 class="text-center fw-bold" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;">TECKO</h1>
    <h2 class="text-center colr">Quality is remembered long after the price is forgotten<br> Serve the quality</h2>

    <div class="row  justify-content-center mt-4 mb-5">
        <a href="" class="btn btnbg w-25">EXPLORE</a>
    </div> <hr class="mb-5" style="color : rgba(158, 234, 248, 1);border-bottom:5px solid rgb(136, 237, 255); box-shadow:0px 0px 10px rgba(158, 234, 248, 1); ">
</section>
<section class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-md-4 col-lg-3 col-xs-6 col-sm-6 my-3" data-aos="zoom-in">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center text-white"><i class="fa fa-check-circle" aria-hidden="true"></i> AI</h5>
                    <p class="card-text text-center">Our AI service at Tecko empowers businesses to make data-driven decisions, automate tasks, and stay ahead of the competition. Let us take your business to the next level with our cutting-edge technology.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xs-6 col-sm-6 my-3" data-aos="zoom-out">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center text-white"><i class="fa fa-check-circle" aria-hidden="true"></i> Web Development</h5>
                    <p class="card-text text-center">With Tecko's web development services, we create stunning, user-friendly websites tailored to meet your unique business needs. Let us build your online presence and help you stand out in the digital world.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xs-6 col-sm-6 my-3" data-aos="zoom-in">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center text-white"><i class="fa fa-check-circle" aria-hidden="true"></i> IoT Development</h5>
                    <p class="card-text text-center">Tecko's IoT solutions transform your business by connecting devices and enabling seamless communication, automation, and data analysis. Let us revolutionize your operations and drive innovation in the Internet of Things.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-4 col-lg-3 col-xs-6 col-sm-6 my-3" data-aos="zoom-out">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center text-white"><i class="fa fa-check-circle" aria-hidden="true"></i> Mobile Application  </h5>
                    <p class="card-text text-center">Tecko's mobile application development services empower businesses to reach their customers on-the-go with intuitive and engaging apps. Let us create a mobile solution that boosts your brand presence and enhances user experience.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xs-6 col-sm-6 my-3" data-aos="zoom-in">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center text-white"><i class="fa fa-check-circle" aria-hidden="true"></i> UI-UX Design</h5>
                    <p class="card-text text-center">Tecko's UI/UX design services elevate your digital presence with visually appealing and user-friendly interfaces that enhance customer interaction. Let us craft a seamless and delightful user experience that sets your brand apart.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="container my-5">
    <h1 class="text-center">Department Life Cycle</h1>
    <div class="row justify-content-around mt-5 align-items-center">
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6 align-middle my-5">
            <h3 class="text-center text-white"><i class="fa fa-check" aria-hidden="true"></i>
                 Research Problem</h3>
            <p class="text-center ">Interact with your operating system's interfaces with Electron's main process APIs. Just start the server in the Localhost then monitor your Data  </p>
        </div>
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6 my-5 " data-aos="zoom-in-left">
            <img src="{% static 'images/research.png' %}" width="200" height="200" class="img-fluid imgg" alt="">
        </div>
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6" data-aos="zoom-out-right">
            <img src="{% static 'images/idea.png' %}" width="250" height="250" class="img-fluid imgg" alt="" style="border-radius: 100px;">
        </div>
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6 align-middle">
            <h3 class="text-center text-white"><i class="fa fa-check" aria-hidden="true"></i>
                 Ideation</h3>
            <p class="text-center ">Send out software updates to your macOS and Windows users whenever you release a new version with Pyduino Desktop with autoUpdater module </p>
        </div>
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6 align-middle my-5">
            <h3 class="text-center text-white"><i class="fa fa-check" aria-hidden="true"></i>
                Development</h3>
            <p class="text-center ">Use community-supported tooling to generate platform-specific tooling like Apple Disk Image (.dmg) on macOS, Windows Installer (.msi) on Windows, or RPM Package Manager (.rpm) on Linux.</p>
        </div>
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6 my-5" data-aos="zoom-in-left">
            <img src="{% static 'images/development.png' %}" width="200" height="200" class="img-fluid imgg" alt="">
        </div>
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6" data-aos="zoom-out-right">
            <img src="{% static 'images/testing.png' %}" width="250" height="250" class="img-fluid imgg" alt="" style="border-radius: 100px;">
        </div>
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6 align-middle">
            <h3 class="text-center text-white"><i class="fa fa-check" aria-hidden="true"></i>
                 Product Testing</h3>
            <p class="text-center ">Distributed our application to more users via all platforms. Pyduino has class support from our community </p>
        </div>
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6 align-middle my-5">
            <h3 class="text-center text-white"><i class="fa fa-check" aria-hidden="true"></i>
                Deploy Product</h3>
            <p class="text-center ">Use community-supported tooling to generate platform-specific tooling like Apple Disk Image (.dmg) on macOS, Windows Installer (.msi) on Windows, or RPM Package Manager (.rpm) on Linux.</p>
        </div>
        <div class="text-center text-white col-md-6 col-xs-6 col-sm-6 col-lg-6 my-5" data-aos="zoom-in-left">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/rocket-3783762-3162224.png?f=webp" width="200" height="200" class="img-fluid imgg" alt="">
        </div>
    </div>
</section>
{% endblock content %}