{% extends "base.htm" %}
{% block title %}
News | TECKO
{% endblock title %}
{% block content %}
{% include 'navbar/navbar.htm' %}

 
<section class="container">
    <h1 class="display-4 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;"> News</h1>
    <h1 class="display-8 text-center mt-5" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;"> Mess Management System Dashboard</h1>
  
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center"> <!-- Center the column content -->
        <!-- Copy and paste the embed code provided by YouTube here -->
        <iframe class="w-100" style="max-width: 800px; height: 500px;" src="https://www.youtube.com/embed/XtCUZYxbLOk" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <p class="text-center text-white">Here We gave a Detail Demo about Pyduino For more knowledge Visit <a href="{% url 'contact' %}" class="ps-2"> Contact Us</a></p>
    </div>
  </section>


{% endblock content %}