{% extends "base.htm" %}


{% block title %}
Sign In | PYDUINO
{% endblock title %}
{% block content %}
{% include 'navbar/authNavbar.htm' %}

<section class="container col-md-4 col-sm-4 col-xs-4 col-lg-4 p-3 rounded auth" style="margin-top: 100px;border:3px solid rgba(158, 234, 248, 0.5) !important;box-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important; max-height:700px !important; overflow-y:auto !important; ">
    <h1 class="text-center" style="text-shadow: 0px 0px 10px rgba(158, 234, 248, 0.5) !important;">SIGN UP</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group my-3">
            <label for="username">Username</label>
            <input type="text" name="username" class="form form-control" placeholder="Enter Your Username" id="username">
        </div>
        <div class="form-group my-3">
            <label for="email">E-Mail</label>
            <input type="email" name="email" class="form form-control" placeholder="Enter Your E-Mail" id="email">
        </div>

        <div class="form-group my-3">
            <label for="password">Password</label>
            <input type="password" name="password" class="form form-control" placeholder="Enter Your Password" id="password">
        </div>
        <div class="form-group my-3">
            <label for="confirm">Confirm Password</label>
            <input type="password" name="confirm" class="form form-control" placeholder="Confirm Your Password" id="confirm">
        </div>
        <div class="row  justify-content-center my-3">
            <input type="submit" value="Sign In" class="btn btnbg w-25">

        </div> 
    </form>


</section>
{% endblock content %}