{% extends "base.htm" %}
{% block title %}
Profile | PYDUINO
{% endblock title %}
{% block content %}
{% include 'navbar/navbar.htm' %}

<section class="container-fluid mt-5 ">
    <div class="row justify-content-center">
    <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 ms-5 align-items-center">
        <p class="display-4 fw-bold align-middle" style="text-align: justify !important;">We build our software so you can enjoy building yours</p>

    </div>

        <div class="text-center text-white col-md-3 col-xs-3 col-sm-3 col-lg-3 my-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Electron_Software_Framework_Logo.svg/1200px-Electron_Software_Framework_Logo.svg.png" width="150" height="150" class="img-fluid imgg" alt="">
        </div>
    </div>

    
    <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
        <p class="text-white" style="font-size: 40px; margin-left:100px">Essential tools for software developers and teams
        </p>
    </div>
</section>
<section class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 my-3 " data-aos="fade-down">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                  <h5 class="card-title text-center text-white"><i class="fa fa-superpowers" aria-hidden="true"></i>

                    For developers
                                  </h5>
                  <p class="card-text text-center">The complete
                    developer toolkit for Monitoring</p>

                </div>
              </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 my-3" data-aos="fade-up">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                  <h5 class="card-title text-center text-white"><i class="fa fa-users" aria-hidden="true"></i>
                    For Team
                  </h5>
                  <p class="card-text text-center">A wide range of tools and integrations for any team</p>

                </div>
              </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 my-3" data-aos="fade-down">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                  <h5 class="card-title text-center text-white"><i class="fa fa-leanpub" aria-hidden="true"></i>
                    For Learning
                  </h5>
                  <p class="card-text text-center">Solutions and opportunities for teachers and students </p>

                </div>
              </div>
        </div>
    </div>
</section>
<section class="container mt-5 mb-5">
    <h1 class="text-center fw-bold">Find the right Tool</h1>
    <div class="row justify-content-around">
        <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 my-3 " data-aos="fade-up">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                  <h5 class="card-title text-center text-white"><i class="fa fa-windows" aria-hidden="true"></i>


                     Windows
                                  </h5>
                  <p class="card-text text-center">The complete
                    developer toolkit for Monitoring</p>
                    <div class="text-center">
                        <a href="" class="btn btnbg"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                    </div>
                    

                </div>
              </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 my-3" data-aos="fade-down">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                  <h5 class="card-title text-center text-white"><i class="fa fa-linux text-white" aria-hidden="true"></i>

                     Linux
                  </h5>
                  <p class="card-text text-center">A wide range of tools and integrations for any team</p>
                  <div class="text-center">
                    <a href="" class="btn btnbg"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                </div>
                </div>
              </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 my-3" data-aos="fade-up">
            <div class="card card-hover" style="width: 18rem;">
                <div class="card-body bg-dark">
                  <h5 class="card-title text-center text-white"><i class="fa fa-apple" aria-hidden="true"></i>

                     Mac
                  </h5>
                  <p class="card-text text-center">Solutions and opportunities for teachers and students </p>
                  <div class="text-center">
                    <a href="" class="btn btnbg"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                </div>
                </div>
              </div>
        </div>
    </div>
      <div class="row justify-content-center mt-5">
      <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 ms-5">
          <h4 class=" fw-bold align-middle mt-5" style="text-align: justify !important;">However big or small your team is, our products will ensure that it always has a smooth and enjoyable experience when
            building your code, planning your work, or collaborating.</h4>
      </div>
      <div class="text-center text-white col-md-3 col-xs-3 col-sm-3 col-lg-3 my-5">
        <img src="https://png2.cleanpng.com/sh/96851a2e1af322b828b1c68cfde742cb/L0KzQYm3WMI2N6N0R91yc4Pzfri0kQl1cJDzReJ7b3f1cb70if5oNZ1mhtlAYXfoPbT2jgB2fJZ3ReJ7b3f1cb70if5oNZQygNN3dX3kfn73jvcufKNmhuV5YYLofsW0if1ib5Z4Rdh7ZXWwdLFAjvxwaZUye95ycD24com4VPVlO2ZpSKltMD67Q4GAVsM0OmI6S6c7MEC8R4q6WMEyNqFzf3==/kisspng-python-programming-language-computer-programming-c-hanuman-png-transparent-images-free-download-clip-5b814ed35d07d0.8307633215352009793811.png" width="200" height="200" class="img-fluid imgg" alt="">
      </div>
  
      </div>

</section>



{% endblock content %}